body{
    margin: 0;
    padding-left: 10px;
}

div{
    background-color:darksalmon;
    width: 300px;
    border: 1px solid black;
}

.marginDiv{
    margin: 20px;
}
.paddedDiv{
    padding: 20px;    
}

.noBorderDiv{
    border: 0;
}

.shortDiv{
    padding: 10px;
}
.longDiv{
    width: 400px;
    background-color: darkcyan;
    color: white;
}

.tobeboxedDiv{
    padding: 30px;
    margin: 5px;
}
.boxedDiv{
    box-sizing: border-box;
}

.vertMargDiv{
    margin: 20px 0;
}